<div class="navbar navbar-dark bg-primary showdow-sm">
    <div class="navbar-brand align-text-center d-flex">
        <i style="font-size: 40px;" class="bi bi-truck">
        </i>
        <strong routerLink=""  class="v1" style="font-size: 30px;">  Pareekshith-fashion-mart</strong>

        <div class="form-group">
            <input type="text" class="Search-bar" placeholder="Search Products " aria-label="Search">
       
           <span style="margin-right: 20px;" class="bi bi-search"  > </span>
           <button  style="font-size: 30px;" routerLink="cart" class="btn btn-primary">
            <i class="bi bi-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItems}}</div>
           </button>
        </div>
        
    </div>
</div>